doctype html
html
  -var title = "訊息回覆成功！！"
  include template/head.pug
  body
    // Wrapper
    #wrapper
      include template/nav.pug
      // Main
      #main.alt
      section#one
          .inner
            h1.chfont 訊息已經傳送，感謝您的回饋！！
            ul.actions
              li
                a.button.chfont.next(href='/') 返回首頁
      include template/footer.pug
    - var log = true
    include template/js.pug