extends ../../template/category.pug
	
block declare
    - var ch_subject = "資訊"
    - var en_subject = "Information Technology"
    - var subject_img = "/images/project/information_technology.jpg"
    - var title = "Information Technology"
    - var group_id = "information_technology"
    - var group_list = [{ name: "Reinforcement Learning 與 Neural Network於3D賓果遊戲AI之應用", author:"萬俊彥、陳冠宇", intro:"　　3D賓果是一種類似五子棋的棋類遊戲，只要在4x4x4的立體棋盤上連成四顆一線就算獲勝，相較於五子棋雖然局面較小，但因為擴展到三維空間讓獲勝方式及可能性變的更複雜，在人類思考的靈活度有限的情況下，我們要怎麼創造人工智慧來挑戰玩家呢?", img_href:"/images/project/I1.jpg", intro_href:"group1"}]

block quote
    | 「這個遊戲我上個世紀就破台了」 ~ 潘威歷 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
