extends ../../template/category.pug
	
block declare
    - var ch_subject = "資訊"
    - var en_subject = "Information Technology"
    - var subject_img = "/images/project/information_technology.jpg"
    - var title = "Information Technology"
    - var group_list = [{ name: "I01", author:"", intro:"", img_href:"/images/project/I1.jpg", intro_href:"group1.html"}]

block quote
    | 「．．． 」 ~ 潘威歷 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
