extends ../../template/category.pug
	
block declare
    - var ch_subject = "化學"
    - var en_subject = "Chemistry"
    - var subject_img = "/images/project/chemistry.jpg"
    - var title = "Chemistry"
    - var id = "chemistry"
    - var group_list = [{ name: "水電解的替代電極", author:"鍾葳、方東華", intro:"　　在電解水時，需要使用比理論值1.23V更高的電壓才能發生電解，這種現象稱為過電位(Over potential)。過電位的產生主要是因為氧化還原中電子轉移的活化能，因此不同電極之過電位不同——目前科學界所發現最有效的產氫電極(陰極)是金屬「鉑」；而最有效的產氧電極(陽極)則是「氧化銥」，大約只需要1.3V左右的電壓即可電解水。", img_href:"/images/project/C1.jpg", intro_href:"group1"}, { name: "C02", author:"jizzing purc", intro:"I want a purc and a jizz.", img_herf:"/images/project/C2.jpg", intro_herf:"group2"}, { name: "　　過渡金屬催化劑活化碳－氫鍵 及對於sp2和sp3的選擇性研究", author:"莊奕恩", intro:"　　在「水－過氧化氫－乙腈」系統中，只要加入過渡金屬作為催化劑，便可有效的活化碳－氫鍵，而本研究選擇了錳，並測試其對環己烯的氧化力，藉由使用不同的錳化合物，我們可以讓催化劑具有不同的選擇性及產率。希望能使用此催化劑嘗試裂解水，提供乾淨的氫能源!", img_href:"/images/project/C3.jpg", intro_href:"group3"}, { name: "C04", author:"jizzing purc", intro:"I want a purc and a jizz.", img_herf:"/images/project/C4.jpg", intro_herf:"group4"}]

block quote
    | 「所謂的學術，就是把簡單的東西變複雜；
    br
    | 那怎樣叫做有學問呢？就是把簡單的東西講到別人聽不懂」 ~ 林志弘 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
