extends ../../template/category.pug
	
block declare
	- var ch_subject = "化學"
	- var en_subject = "Chemistry"
	- var subject_img = "/images/project/chemistry.jpg"
	- var title = "Chemistry"
	- var group_list = [{ name: "水電解的替代電極", author:"鍾葳、方東華", intro:"　　在電解水時，需要使用比理論值1.23V更高的電壓才能發生電解，這種現象稱為過電位(Over potential)。過電位的產生主要是因為氧化還原中電子轉移的活化能，因此不同電極之過電位不同——目前科學界所發現最有效的產氫電極(陰極)是金屬「鉑」；而最有效的產氧電極(陽極)則是「氧化銥」，大約只需要1.3V左右的電壓即可電解水。", img_href:"/images/project/C1.jpg", intro_href:"group1.html"}]

block quote
	| 「所謂的學術，就是把簡單的東西變複雜；
	br
	| 那怎樣叫做有學問呢？就是把簡單的東西講到別人聽不懂」 ~ 林志弘 老師
block intro
	| 組員介紹 &amp; 老師的話   組員介紹 &amp; 老師的話   組員介紹 &amp; 老師的話
block something
	h2.chfont 我還沒想到可以塞什麼
block someword
	| 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
