extends ../../template/category.pug
	
block declare
    - var style = "style3"
    - var ch_subject = "化學"
    - var en_subject = "Chemistry"
    - var subject_img = "/images/project/chemistry.jpg"
    - var group_id = "chemistry"
    - var group_list = [{ name: "水電解的替代電極", author:"鍾葳、方東華", intro:"　　在電解水時，需要使用比理論值1.23V更高的電壓才能發生電解，這種現象稱為「過電壓」——目前科學界所發現最有效的產氫電極是鉑，而最有效的產氧電極則是氧化銥。然而，因以上兩種金屬元素價格高昂，故我們希望能合成出價格相對低廉，但與以上兩種電極性能接近的水電解電極。", img_href:"/images/project/C1.jpg", intro_href:"group1"}, { name: "碳烯的合成及探討", author:"張智盛, 葉展豪", intro:"　　當一個碳原子接有兩個雙鍵時，因共振穩定因素，碳原子上的雙鍵將同時轉變成單鍵，並將具有未共用電子對，此時稱為碳烯。本研究目的是將碳烯與Cu+反應，觀察其錯合形式，並討論不同的取代基(Dipp-及Ph3P-)與Cu+錯合的結果。", img_href:"/images/project/C2.jpg", intro_href:"group2"}, { name: "過渡金屬催化劑活化碳－氫鍵 及對於sp2和sp3的選擇性研究", author:"莊奕恩", intro:"　　在「水－過氧化氫－乙腈」系統中，只要加入過渡金屬作為催化劑，便可有效的活化碳－氫鍵，而本研究選擇了錳，並測試其對環己烯的氧化力，藉由使用不同的錳化合物，我們可以讓催化劑具有不同的選擇性及產率。希望能使用此催化劑嘗試裂解水，提供乾淨的氫能源!", img_href:"/images/project/C3.jpg", intro_href:"group3"}, { name: "以血紅素結合蛋白上特定位點的變異 N型醣作為肝癌病人生物標記之探討", author:"陳瑞毅", intro:"因為跟肝癌相關的死亡率在所有癌症中排名第二，現有的檢測方法------AFP(alpha phetal protein)又不具有足夠的敏感度和專一性，所以我們決定好好找一種新的肝癌生物標記！這篇研究會提供一些可能的答案，有興趣的人可以到C04場次來聽我的報告！", img_href:"/images/project/C4.jpg", intro_href:"group4"}]

block quote
    | 「所謂的學術，就是把簡單的東西變複雜；
    br
    | 那怎樣叫做有學問呢？就是把簡單的東西講到別人聽不懂」 ~ 林志弘 老師