extends ../../template/group.pug
    
block declare
    - var project_name = "水電解的替代電極"
    - var author = "方東華、鍾葳"
    - var project_img = "/images/project/C1.jpg"

block intro
    .row(class='200%')
        div(class="1u")
            | 　
        div(class="10u")
            p.chfont 　　一般我們在進行水電解時，使用的電極分別為鉑金屬(陰極，產氫)及氧化銥(陽極，產氧)，原因是發生電解所需的電壓較低，即「過電壓」較小。什麼是「過電壓」呢？水的理論分解電壓為1.23V，而實際上卻需要更高電壓才能將其電解，我們就稱此現象為「過電壓」。
            p.chfont 　　過電壓可以分為四種：
            strong.chfont 1. 活化過電壓 (Activation Overpotential)
            p.chfont 　　對於大部分的金屬表面，氫氣的過電壓相當高，但鉑金屬還原氫氣的過電位幾乎等於零。這就是利用鉑作為還原氫氣電極的原因。
            strong.chfont 2. 濃度過電壓 (Concentration Overpotential)
            p.chfont 　　在電解過程中，金屬表面的離子濃度會降低，故電解所需電壓將持續升高。此時我們會藉由加入電解質或升溫以增加離子擴散速度，使表面濃度不致下降。
            strong.chfont 3. 阻抗過電壓 (Resistance Overpotential)
            p.chfont 　　電鍍液的電阻將使電解所需電壓升高，一般在定溫下造成的阻抗過電壓將維持恆定。
            strong.chfont 4. 表面過電壓 (Surface Overpotential)
            p.chfont 　　一般是由電極的鈍化層或其他表面化合物層所產生。
            .row(class="200%")
                div(class="2u")
                    p  
                div(class="8u$")
                    span.image.main
                        img(src="/images/project/C1/1.jpg", alt="")
                    p(style="text-align:center")
                        em.font 電化學測定裝置
            p.chfont(style="margin:0.1em") 　　在四種過電壓中，濃度過電壓與阻抗過電壓對於各種電解槽的影響幾乎相同，而表面過電壓的影響相較於其他三者可以忽略，因此我們研究的主要目標是設法減少電解時所產生的活化過電壓。
            p.chfont 　　然而，鉑與銥同為貴金屬，做為電極的成本非常高昂；所以在本研究中，我們合成了多種理論上能降低活化過電壓的材料，並進行了電子顯微鏡(SEM)與各種電化學的測量，
                u 希望可以找到一種電解效果與鉑金屬與氧化銥一樣好，但價格相對較為低廉的一種材料
                | 。
        div(class='1u$')
