extends ../../template/group.pug
    
block declare
    - var project_name = "以血紅素結合蛋白上特定位點的變異N型醣作為肝癌病人生物標記之探討"
    - var author = "陳瑞毅"
    - var project_img = "/images/project/C4.jpg"
    - var en_subject = "chemistry"

block intro
    p.chfont 　　肝癌是世界上最常見的癌症之一，早期診斷可改善存活率。臨床上常使用胎兒蛋白(AFP)作為肝癌的生物標記，但敏感性與專一性並不太足夠，我們希望能發現Haptoglobin具有敏感性與專一性的N-聯結聚醣作為肝癌的生物標記。
    p.chfont 　　本研究所使用的血清樣品來自於台大醫院的患者，包含慢性B型肝炎患者20人，肝硬化患者14人，肝癌患者A期、B期、C期、D期各15、13、14、9人，以患者AFP濃度20μg/L為標準將肝癌各期患者再分為高胎兒蛋白與低胎兒蛋白兩組，每組人數包括HCC-A LOW 8人、HCC-AHIGH 7人、HCC-B LOW 7人、HCC-B HIGH 6人、HCC-C LOW 7人、HCC-C HIGH 7人、HCC-D HIGH 9人。
    p.chfont 　　研究中的血清樣本先經血紅素結合蛋白富集、血紅素結合蛋白的溶液中酵素消化、親水性作用液相層析(HILIC) stage tip packing與HILIC處理，再以串聯式液相層析質譜儀的CID和HCD進行分析與定量，然後使用MAGIC、Sweetheart、Byonic、GlycomasterDB、GPS、X-calibur軟體來辨識分析出來的N-聯結聚醣。
    p.chfont 　　比較各N-聯結聚醣在肝癌與非肝癌患者間的P value，將有統計意義差別的N-聯結聚醣分為HCC 4+組(P value<0.001)、HCC 3+組(P value<0.005)、HCC 2+組(P value<0.01)、與HCC +組(P value<0.05)等四組進行分析。這些N-聯結聚醣：(一)大部分N-聯結聚醣只出現在少數患者身上，尤其是HCC 4+組。(二)在HCC 4+與HCC 3+組中，低胎兒蛋白組比高胎兒蛋白組有較多種類的N-聯結聚醣。(三)13種N-聯結聚醣的濃度與與肝癌嚴重程度呈現正相關性。(四)有3種N-聯結聚醣僅出現於肝癌患者。(五)在HCC 4+和HCC 3+組的N-聯結聚醣大部分位於N-241與N-181胺基酸。N-241胺基酸的N-聯結聚醣以兩種醣型居多，而這兩種醣型很少出現於非肝癌患者。
    p.chfont 　　由上述結論可知，Haptoglobin的數種N-聯結聚醣有潛力成為肝癌的生物標記，但需要更多患者的血清樣本進行進一步的分析。