extends ../../template/group.pug
    
block declare
    - var project_name = "碳烯之合成及探討"
    - var author = "張智盛、葉展豪"
    - var project_img = "/images/project/C2.jpg"
    - var en_subject = "chemistry"

block intro
    p.chfont 　　當一個碳原子接有兩個雙鍵時(稱為allene)，因共振穩定因素，碳原子上的雙鍵將同時轉變成單鍵，並具有兩個未共用電子對，此時稱為碳烯(carbene)。
    p.chfont 　　本研究目的是將碳烯與Cu#[sup +]反應，觀察碳烯會以什麼樣的形式來進行錯合。由於碳烯不易保存，必須要從頭合成，接著利用各種反應，接上所要的取代基或官能基，並分別討論不同的取代基(Dipp-及Ph#[sub 3]P-)與Cu#[sub +]錯合的結果。
    .row(class='200%')
        div(class="6u")
            span.image.main
                img(src="/images/project/C2/1.jpg", alt="")
            p(style="text-align:center")
                em.font Ph3P-carbene
        div(class="6u$")
            span.image.main
                img(src="/images/project/C2/2.jpg", alt="")
            p(style="text-align:center")
                em.font Dipp-carbene
    p.chfont 　　未來期望藉由錯合後的結構探討接上取代基的性質，並改試其他取代基，找出更好的方法以穩定碳烯。
    span.image.main
        img(src="/images/project/C2/3.jpg", alt="")
    p(style="text-align:center")
        em.font Ph#[sub 3]P-allene的反應機構圖(後半)
    span.image.main
        img(src="/images/project/C2/3.jpg", alt="")
    p(style="text-align:center")
        em.font Dipp-olefin的NMR圖譜
