extends ../../template/group.pug
	
block declare
	- var project_name = "過渡金屬催化劑活化碳－氫鍵及對於sp<sup>2</sup>和sp<sup>3</sup>的選擇性研究"
	- var author = "莊奕恩"
	- var project_img = "/images/project/C3.jpg"

block intro
	.row(class='200%')
		div(class="1u")
			| 　
		div(class="10u")
			p.chfont 　　在水－過氧化氫－乙腈系統中，加入過渡金屬化合物可有效的活化碳－氫鍵，藉由調控實驗的變因，我們可以讓其在苯環上具有不同的選擇性以改變不同產物的產率，本實驗主要以過氯酸亞鐵作為催化劑氧化甲苯，關於亞鐵離子的sp#[sup 3]反應推測與「芬頓反應」相近，而sp#[sup 2]的的反應則與「細胞色素P450 」相近。
			span.image.main
				img(src="/images/project/C3/1.jpg", alt='')
			p(style="text-align:center")
				em.chfont 「芬頓反應」的試劑為Fe(II)離子與過氧化氫，其氧化能力在自然界中僅次於氟氣，可氧化大多數有機物。
			span.image.main
				img(src="/images/project/C3/2.jpg", alt='')
			p(style="text-align:center")
				em.chfont 「細胞色素P450 」在電子傳遞鏈的末端作為氧化酵素，在人體負責藥物等化學物質的代謝。
			p.chfont 　　同時，也試著以其他過渡金屬進行測試，其中選擇了在光合作用的PSII的非循環電子傳遞鏈負責將水分解產生氧氣、e#[sup -]及H#[sup +]的錳，我們採用了不同的錳化合物：過氯酸錳、氯化錳、硫酸錳將其溶於CH#[sub 3]CN中後裝在小樣品瓶中，緩慢加入雙氧水，約24小時後將上層澄清液移至試管，最終沉澱出之溶質即為金屬催化劑，並分別測試其對烴類的氧化力，其中硫酸錳因為難溶於溶劑中，無法以此種方式提取出催化劑，因此我們將三種錳化合物直接在系統中嘗試直接對烴類進行氧化。
			span.image.main
				img(src="/images/project/C1/3.jpg", alt='')
			em.chfont 　　將三種化合物作為催化劑，CH#[sub 3]CN為溶劑，H#[sub 2]O#[sub 2]為氧化劑，環己烯為反應物，在常溫下反應2小時，經氣相沉積儀分析所得之產物表（硝基苯為內標準品）
			p(style="text-align:center")
				strong.chfont 致謝：感謝印度籍詹曼其博士的指導與協助
		div(class='1u$')
