extends ../../template/category.pug
	
block declare
    - var ch_subject = "地科"
    - var en_subject = "Earth Science"
    - var subject_img = "/images/project/earth_science.jpg"
    - var title = "Earth Science"
    - var group_id = "earth_science"
    - var group_list = [{ name: "利用線上巡天資料庫探討鄰近太陽系三星團之間關聯", author:"施瑋庭", intro:"昴宿星團、畢宿星團、鬼宿星團在冬季夜空是天文觀測者可輕易認識的天體，雖然散佈在不同星座，但有些研究認為它們可能彼此是有關聯性的，是誕生於同一個起源，但未有定論，因此，本研究就以此為目標，利用分析三個星團的基本性質及動力學，確認是否真的誕生於同一個起源。", img_href:"/images/project/E1.jpg", intro_href:"group1"},{ name: "E02", author:"", intro:"", img_href:"/images/project/E2.jpg", intro_href:"group2"}]

block quote
    | 「段考隨便讀，開心就好，反正我照樣會把你們當掉」 ~ 李文禮 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
