extends ../../template/category.pug
	
block declare
    - var ch_subject = "地科"
    - var en_subject = "Earth Science"
    - var subject_img = "/images/project/earth_science.jpg"
    - var title = "Earth Science"
    - var group_list = [{ name: "E01", author:"", intro:"", img_href:"/images/project/E1.jpg", intro_href:"group1.html"},{ name: "E02", author:"", intro:"", img_href:"/images/project/E2.jpg", intro_href:"group2.html"}]

block quote
    | 「
    br
    | 」 ~ meow 老師
block intro
    | 組員介紹 &amp; 老師的話   組員介紹 &amp; 老師的話   組員介紹 &amp; 老師的話
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
