extends ../../template/group.pug
    
block declare
    - var project_name = "以雷達回波資料分析颱風雨帶受地形的影響"
    - var author = "陳柏豪"
    - var project_img = "/images/project/E2.jpg"

block intro
    .row(class='200%')
        div(class="1u")
            | 　
        div(class="10u")
            p.chfont 　　台灣是個時常被颱風侵襲的島嶼，因此對颱風的結構、運動方式等特性的研究至關重要，而其嚴峻的地形往往對颱風造成巨大的影響，因此提供了一個對颱風有更深入研究的絕佳機會，但先前的研究多集中於探討眼牆及其周圍的部分，而對相對外圍雨帶的研究卻不多，尤其是在雨帶與地形之間的交互作用及其對颱風本身的回饋機制，僅有部分的個案探討而缺乏全面性的研究，因此這份研究以統計的方式分析雨帶在通過地形時的變化，希望
            p.chfont
                | 　　(1)探討雨帶通過山區時的結構變化
                br
                | 　　(2)探討雨帶通過山區時的強度變化
                br
                | 　　(3)歸納山區對雨帶的整體影響
            p.chfont 　　本研究透過中央氣象局所觀測到的雷達回波資料，分析並且歸納雨帶在通過台灣地形時的影響，總共觀察了2013~2015年間的7個颱風共16個雨帶，得知雨帶在登陸時可能有先增強後減弱的生命模式，並且認為可能與氣流的輻合有關。
            span.image.main
                img(src="/images/project/E2/1.jpg", alt="")
            p(style="text-align:center") 圖為2013年天兔颱風的雷達回波圖
        div(class='1u$')
