extends ../../template/category.pug
	
block declare
    - var ch_subject = "生物"
    - var en_subject = "Biology"
    - var subject_img = "/images/project/biology.jpg"
    - var title = "Biology"
    - var group_id = "biology"
    - var group_list = [{ name: "B01", author:"", intro:"", img_href:"/images/project/B1.jpg", intro_href:"group1"},{ name: "環境逆境對小白菜之超氧化物歧化酶活性表現之探討", author:"姚亮亘", intro:"超氧化物歧化酶(SOD)為一種抗氧化酶，可催化活性氧物種(ROS)自我氧化還原，以防ROS對生物體的破壞。我們主要探討不同逆境對小白菜SOD的影響。過去有小白菜的逆境生理研究，但甚少以SOD變化的角度探討。我們希望可以針對實驗結果設計進一步的實驗或應用。", img_href:"/images/project/B2.jpg", intro_href:"group2"},{ name: "十字花科富含之Sulforaphane對於胃幽門螺旋桿菌誘發TRAIL媒介細胞凋亡之保護探討", author:"黎瑞廷", intro:"胃癌、胃潰瘍等各色胃部疾病，深深困擾了許多人、破碎了病患平和美滿的生活。大約35年前的我們才了解到其中的秘辛—竟是一種細菌(胃幽門螺旋桿菌)在胃中大肆的感染造成。這使醫生使用抗生素進行治療，卻意外使抗藥性細菌增長。而本篇研究即旨在了解是否有緩解疾病的替代方案。", img_href:"/images/project/B3.jpg", intro_href:"group3"}]

block quote
    | 「咦原來你有在聽我上課喔？」 ~ 林聰慧 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
