extends ../../template/category.pug
	
block declare
    - var ch_subject = "生物"
    - var en_subject = "Biology"
    - var subject_img = "/images/project/biology.jpg"
    - var title = "Biology"
    - var group_list = [{ name: "B01", author:"", intro:"", img_href:"/images/project/B1.jpg", intro_href:"group1.html"},{ name: "B02", author:"", intro:"", img_href:"/images/project/B2.jpg", intro_href:"group2.html"},{ name: "B03", author:"", intro:"", img_href:"/images/project/B3.jpg", intro_href:"group3.html"}]

block quote
    | 「咦原來你有在聽我上課喔？」 ~ 林聰慧 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
