extends ../../template/category.pug
	
block declare
    - var style = "style4"
    - var ch_subject = "生物"
    - var en_subject = "Biology"
    - var subject_img = "/images/project/biology.jpg"
    - var title = "Biology"
    - var group_id = "biology"
    - var group_list = [/*{ name: "探討mTLR7基因與Znrf1蛋白對HEK-293T細胞免疫機制的反應途徑", author:"林瀚、孫語廷", intro:"　　在現在這個幸福的時代，大家不再因舊時代的傳染病或飢荒所苦，現在大眾的疾病皆為文明社會的幸福病，例如吃太飽導致肥胖或糖尿病或營養過剩或力量太多熬夜過度爆肝或太閒抽菸或酗酒而導致各種癌症反正都是一些古人沒有的困擾，我們的專題期望能為自體免疫類型的疾病提出治療方法。", img_href:"/images/project/B1.jpg", intro_href:"group1"},*/{ name: "環境逆境對小白菜之超氧化物歧化酶活性表現之探討", author:"姚亮亘", intro:"　　超氧化物歧化酶(SOD)為一種抗氧化酶，可催化活性氧物種(ROS)自我氧化還原，以防ROS對生物體的破壞。我們主要探討不同逆境對小白菜SOD的影響。過去有小白菜的逆境生理研究，但甚少以SOD變化的角度探討。我們希望可以針對實驗結果設計進一步的實驗或應用。", img_href:"/images/project/B2.jpg", intro_href:"group2"},{ name: "十字花科富含之Sulforaphane對於胃幽門螺旋桿菌誘發TRAIL媒介細胞凋亡之保護探討", author:"黎瑞廷", intro:"　　胃癌、胃潰瘍等各式胃部疾病，深深困擾了許多人、破碎了病患平和美滿的生活。大約35年前的我們才了解到其中的秘辛—竟是一種細菌(胃幽門螺旋桿菌)在胃中大肆的感染造成。這使醫生使用抗生素進行治療，卻意外使抗藥性細菌增長。而本篇研究即旨在了解是否有緩解疾病的替代方案。", img_href:"/images/project/B3.jpg", intro_href:"group3"}]

block quote
    | 「咦原來你有在聽我上課喔？」 ~ 林聰慧 老師
