extends ../../template/group.pug
    
block declare
    - var project_name = "十字花科富含之Sulforaphane對於胃幽門螺旋桿菌誘發TRAIL媒介細胞凋亡之保護探討"
    - var author = "黎瑞廷"
    - var project_img = "/images/project/B3.jpg"
    - var en_subject = "biology"

block intro
    p.chfont 　　胃幽門螺旋桿菌(
        em.chfont Helicobacter pylori, 
        | HP)是一種主要棲息於人類胃部微厭氧的細菌，感染了世界上超過一半的人口。藉由改變胃上皮細胞增生與凋亡間的平衡，胃幽門螺旋桿菌得以使這些遭受感染的個體，有10%~20%的機率惡化成胃潰瘍，其中更有1%~2%的人會因而罹患胃癌。
    p.chfont 　　在被胃幽門螺旋桿菌感染的病患體內，胃部浸潤T淋巴球(infiltrating T lymphocytes)表面會表現引起細胞凋亡之蛋白質—TRAIL(TNF-related apoptosis-inducingligand)。TRAIL無法引起正常體細胞，如胃上皮細胞的凋亡。然而，胃幽門螺旋桿菌在前人的研究中被發現得以顯著增加胃上皮細胞對TRAIL的感受性。故胃幽門螺旋桿菌可能調控胃上皮細胞內對於TRAIL感受性相關之訊息傳遞路徑，使細胞和浸潤Ｔ細胞的TRAIL作用，引起大量細胞凋亡。
    p.chfont 　　對於這些疾病，抗生素雖為目前最好的治療藥物，但隨著近年來越來越多抗藥性胃幽門螺旋桿菌出現，無法被抗生素治療的病例也隨之增長。故尋找替代的治療方式及藥物也因此愈來愈急迫。
    p.chfont 　　本研究旨在探討蘿蔔硫素(Sulforaphane, SFN)，一種多見於十字花科蔬菜的有機化合物，對於胃幽門螺旋桿菌誘發TRAIL媒介細胞凋亡是否具有保護功能，以及其保護機制。
    span.image.main
        img(src="/images/project/B3/1.jpg", alt="")
    p(style="text-align:center")
        em.font SFN對於HP誘發之TRAIL媒介細胞凋亡的影響(**:p<0.01)