extends ../../template/group.pug
    
block declare
    - var project_name = "環境逆境對小白菜之超氧化物歧化酶活性表現之探討"
    - var author = "姚亮亘"
    - var project_img = "/images/project/B2.jpg"
    - var en_subject = "biology"

block intro
    p.chfont 　　活性氧物種(Reactive oxygen species, ROS)是指含氧的化學活性分子。當植物處在逆境時(如淹水或高溫等)，ROS的濃度會升高。植物體經過長期累積ROS，就會形成氧化損傷。
    p.chfont 　　超氧化物歧化酶(Superoxide dismutase, SOD)是植物體內的一種抗氧化逆境蛋白，其功能是催化體內的ROS自我氧化還原，以防止ROS對於生物體的破壞。
    p.chfont 　　小白菜(
        em.chfont Brassica rapa chinensis, B. r. chinensis
        | ) 是生活中常見的一種食用植株，其發芽階段時間短，為十字花科中常被用於實驗的植株之一。
    p.chfont 　　不同逆境對
        em.chfont B. r. chinensis 
        | SOD的影響是我們主要探討的問題。過去曾有關於
        em.chfont B. r. chinensis
        | 在逆境下的生理研究，但從SOD變化的角度去探討的研究甚少。
    p.chfont 　　我們希望藉由探討B. r. chinensis在不同逆境中SOD的變化，了解SOD的性質，並針對結果設計進一步的實驗。
    p.chfont 　　以下是目前初步的結果：
    span.image.main
        img(src="/images/project/B2/1.jpg", alt="")
    p(style="text-align:center")
        em.font 上圖為小白菜在不同pH值逆境中，SOD的活性變化。
    span.image.main
        img(src="/images/project/B2/2.jpg", alt="")
    p(style="text-align:center")
        em.font 上圖為小白菜在不同溫度逆境中，SOD的活性變化。
    span.image.main
        img(src="/images/project/B2/3.jpg", alt="")
    p(style="text-align:center")
        em.font 上圖為小白菜在不同鹽度逆境中，SOD的活性變化。