head
	if title
		title Hyperion - #{title}
	else 
		title Hyperion - 建中第七屆科學班成果發表
	meta(charset='utf-8')
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
	link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon-96x96.png")
	link(rel="stylesheet", href="/assets/css/custom.css")
	link(rel="stylesheet", href="/assets/css/main.css")