// Scripts
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/jquery.scrolly.min.js')
script(src='/assets/js/jquery.scrollex.min.js')
script(src='/assets/js/skel.min.js')
script(src='/assets/js/util.js')
script(src='/assets/js/main.js')
if log
	script(type='text/javascript').
		console.log("點開這裡想做什麼www")
		console.log("不要亂來喔www")
		console.log("我知道寫得很爛laaaaa")
		console.log("還是恭喜你發現彩蛋(?? 如果成功把我打爛記得教我怎麼擋(蝦餃www")
		console.log("Contact:")
		console.log("萬俊彥 Micc https://www.facebook.com/micc.wan.96")
		console.log("{flag: 'Ender's Game'}")
		console.log("祝你有個美好的一天(?")