// Scripts
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/jquery.scrolly.min.js')
script(src='/assets/js/jquery.scrollex.min.js')
script(src='/assets/js/skel.min.js')
script(src='/assets/js/util.js')
script(src='/assets/js/main.js')
if log
	script(type='text/javascript').
		console.log("開發人員小日記")
		console.log("點開這裡想做什麼www")
		console.log("不要亂來喔www")
		console.log("我知道寫得很爛laaaaa")
		console.log("還是恭喜你發現彩蛋(?? 如果成功把我打爛記得教我怎麼擋(蝦餃www")
		console.log("Contact: 萬俊彥 Micc.Wan 陳冠宇 Edison.Hello(??")
		console.log("https://www.facebook.com/micc.wan.96")
		console.log("{flag: 'Ender's Game'}")
		console.log("祝你有個美好的一天(?")
		console.log("%c以上是做這個網站的人的留言","color: #3399ff");
		console.log("%c可是他忘了把他放到pug的footer裡面(#","color: #3399ff");
		console.log("我明明就有記得放只是放在js.pug裡面而已啊www")
		console.log("information頁一堆複製貼上手好痛")
		console.log("來幫我打啦")