// Header
header#header.alt
  a.logo(href='/')
    strong CKCOS
    span &nbsp;Hyperion
  nav
    a(href='#menu') Menu
// Menu
nav#menu
  ul.links.chfont(style='font-size:1.2em')
    li
      a(href='/') 首頁
    li
      a(href='/information') 活動資訊
    li
      a(href='https://www.facebook.com/ckcoshyperion/') 粉絲專頁
  .row(style='margin-bottom: 1em')
    div(class='6u')
      ul.actions.vertical
        li
          a.button.fit.chfont(href='/project/math') 數   學
        li
          a.button.fit.chfont(href='/project/chemistry') 化   學    
        li
          a.button.fit.chfont(href='/project/earth_science') 地   科
    div(class='6u$')
      ul.actions.vertical
        li
          a.button.fit.chfont(href='/project/physics') 物   理
        li
          a.button.fit.chfont(href='/project/biology') 生   物
        li
          a.button.fit.chfont(href='/project/information_technology') 資   訊
  ul.actions.vertical.chfont
    li
      a.button.fit.special(href='#', style='display:inline-block') 返回