.table-wrapper
  table.alt.chfont(style="text-align: center; vertical-align: center")
    tbody
      tr(style="font-size:1.3em; font-weight:bold")
        td 編號
        td 專題名稱
        td 組員
      tr
        td M1
        td 球面上的幾何研究
        td 王國豪、郭立生
      tr
        td M2
        td 心的起源 – 由三角形三特殊點求出該三角形
        td 蔡子暘、吳雨翰
      tr
        td M3
        td 分割三角形內切圓的面積探討
        td 劉曜華、黃炳煌
      tr
        td M4
        td 格子填不填？
        td 劉仟璽、鄭澈
      tr
        td M5
        td 三角形內心的羈絆
        td 鄭容濤
      tr
        td E1
        td 利用線上巡天資料庫探討鄰近太陽系三星團之間關聯
        td 施瑋庭
      tr
        td E2
        td 以雷達回波資料分析颱風雨帶受地形的影響
        td 陳柏豪
      tr  
        td P1
        td 仿生尾鰭擺動之流體結構分析
        td 陳君輔、王德宇
      tr  
        td P2
        td Cheerios Effect 對水面上微小浮體運動的影響
        td 仲展麟、白奇剛
      tr  
        td P3
        td 高分子溶液的咖啡環效應研究
        td 陳希格
      tr  
        td P4
        td 紙遇水膨脹的研究
        td 謝元昊
      tr  
        td P5
        td 熱的平衡與對流
        td 鍾尚軒
      tr  
        td B1
        td 探討mTLR7基因與Znrf1蛋白對HEK-293T細胞免疫機制的反應途徑
        td 林瀚、孫語廷
      tr  
        td B2
        td 環境逆境對小白菜之超氧化物歧化酶活性表現之探討
        td 姚亮亘
      tr  
        td B3
        td 十字花科富含之Sulforaphane對於胃幽門螺旋桿菌誘發TRAIL媒介細胞凋亡之保護探討
        td 黎瑞廷
      tr  
        td C1
        td 水電解的替代電極
        td 方東華、鍾葳
      tr  
        td C2
        td 碳烯之合成及探討
        td 張智盛、葉展豪
      tr  
        td C3
        td 過渡金屬催化劑活化碳－氫鍵及對於sp#[sup 2]和sp#[sup 3]的選擇性研究
        td 莊奕恩
      tr  
        td C4
        td 以血紅素結合蛋白上特定位點的變異N型醣作為肝癌病人生物標記之探討
        td 陳瑞毅 
      tr  
        td I1
        td Reinforcement Learning與Neural Network於3D賓果遊戲AI之應用
        td 萬俊彥、陳冠宇
