.table-wrapper
  table.alt.chfont(style="text-align: center; vertical-align: center")
    tbody
      tr(style="font-size:1.3em; font-weight:bold")
        td 時間
        td 活動
        td(colspan='5') 地點/組別
      tr
        td 13:00前
        td(colspan='6') 來賓進場
      tr
        td 13:00~13:25
        td 開幕式
        td(colspan='5') 2F 展演廳
      tr
        td 13:25~13:35
        td(colspan='6') 換場
      tr
        td(rowspan='3') 13:35~14:10
        td 場地代碼
        td A
        td B
        td C
        td D
        td E
      tr
        td(rowspan='2') 專題報告(一)
        td M2
        td P1
        td C1
        td B3
        td M3
      tr
        td M5
        td P2
        td C2
        td B2
        td I1
      tr
        td 14:10~14:20
        td(colspan='6') 換場
      tr
        td(rowspan='2') 14:20~14:55
        td(rowspan='2') 專題報告(二)
        td M2
        td P3
        td C3
        td B3
        td P5
      tr
        td M5
        td P4
        td C4
        td B2
        td B1
      tr
        td 14:55~15:05
        td(colspan='6') 換場
      tr
        td(rowspan='2') 15:05~15:40
        td(rowspan='2') 專題報告(三)
        td M1
        td P1
        td C3
        td E1
        td M3
      tr
        td M4
        td P2
        td C4
        td E2
        td I1
      tr
        td 15:40~15:50
        td(colspan='6') 換場
      tr
        td(rowspan='2') 15:50~16:25
        td(rowspan='2') 專題報告(四)
        td M1
        td P3
        td C1
        td E1
        td P5
      tr
        td M4
        td P4
        td C2
        td E2
        td B1
      tr
        td 16:25~16:35
        td(colspan='6') 換場
      tr
        td 16:35~17:00
        td 閉幕式
        td(colspan='5' rowspan='2') 2F 展演廳
      tr
        td 17:00後
        td 拍照