.table-wrapper
  table.alt.chfont(style="text-align: center; vertical-align: center")
    tbody
      tr(style="font-size:1.3em; font-weight:bold")
        td 代號
        td 樓層
        td 教室名稱
      tr
        td #
        td 2F
        td 演藝廳
      tr
        td A
        td 4F-1
        td 數學專科教室
      tr
        td B
        td 4F-2
        td 數位語言教室
      tr
        td C
        td 5F
        td 公民審議論壇
      tr
        td D
        td 6F
        td 福爾摩沙講堂
      tr
        td E
        td 7F
        td 錢賓四教室