extends ../../template/category.pug
	
block declare
    - var ch_subject = "物理"
    - var en_subject = "Phisics"
    - var subject_img = "/images/project/physics.jpg"
    - var title = "Physics"
    - var group_id = "physics"
    - var group_list = [{ name: "仿生尾鰭擺動之流體結構分析", author:"王德宇、郭立生", intro:"利用粒子影像測速儀（PIV）的技術,結合不同平面的流場的分析結果求得自製仿生尾鰭在水中擺動形成的立體流場結構,並計算了推進力;研究中應用3D列印和伺服馬達的技術,讓我們不僅能量化的改變魚尾的形狀參數和擺動模式,方便探討不同操縱變因的影響並且控制變因,也確保實驗的重現性。", img_href:"/images/project/P1.jpg", intro_href:"group1"},{ name: "Cheerios effect 對水面上微小浮體運動之影響", author:"仲展麟、白奇剛", intro:"　　日常生活中常見的麥片，常常會在牛奶的表層群聚，或是被容器壁吸引。這樣神奇的現象，主要是由俗稱Cheerios effect的效應所造成。本研究探討此一現象，利用實驗找出運動中的速率變化，並先從浮體的幾何尺寸下手，探討理論模型的正確性。", img_href:"/images/project/P2.jpg", intro_href:"group2"},{ name: "高分子溶液的咖啡環效應研究", author:"陳希格", intro:"咖啡潑到桌上乾掉後，留下一圈的咖啡色東西是什麼?當然是咖啡渣，只是咖啡渣為何是一圈而不是一個平整的圓面? 這是因為所謂的咖啡環效應。而咖啡環的形成和其溶質沉積樣貌，與固體表面性質和溶質本身物性有關。", img_href:"/images/project/P3.jpg", intro_href:"group3"},{ name: "紙吸水膨脹的研究", author:"謝元昊", intro:"這份研究是利用數位顯微鏡直接觀察沾上各種溶液的紙張，同時搭配簡易的實驗模擬，用以了解紙張在遇到一些液體時紙張產生皺摺的原因。", img_href:"/images/project/P4.jpg", intro_href:"group4"},{ name: "P05", author:"", intro:"", img_href:"/images/project/P5.jpg", intro_href:"group5"}]

block quote
    | 「'等'、'速'、'率'、'圓'、'周' 有五個字，所以就有五個公式」 ~ 劉怡君 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
