extends ../../template/category.pug
	
block declare
    - var ch_subject = "物理"
    - var en_subject = "Phisics"
    - var subject_img = "/images/project/physics.jpg"
    - var title = "Physics"
    - var id = "physics"
    - var group_list = [{ name: "P01", author:"", intro:"", img_href:"/images/project/P1.jpg", intro_href:"group1"},{ name: "P02", author:"仲展麟、白奇剛", intro:"　　日常生活中常見的麥片，常常會在牛奶的表層群聚，或是被容器壁吸引。這樣神奇的現象，主要是由俗稱Cheerios effect的效應所造成。本研究探討此一現象，利用實驗找出運動中的速率變化，並先從浮體的幾何尺寸下手，探討理論模型的正確性。", img_href:"/images/project/P2.jpg", intro_href:"group2"},{ name: "P03", author:"", intro:"", img_href:"/images/project/P3.jpg", intro_href:"group3"},{ name: "P04", author:"", intro:"", img_href:"/images/project/P4.jpg", intro_href:"group4"},{ name: "P05", author:"", intro:"", img_href:"/images/project/P5.jpg", intro_href:"group5"}]

block quote
    | 「'等'、'速'、'率'、'圓'、'周' 有五個字，所以就有五個公式」 ~ 劉怡君 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
