extends ../../template/group.pug
    
block declare
    - var project_name = "紙遇水膨脹的研究"
    - var author = "謝元昊"
    - var project_img = "/images/project/P4.jpg"
    - var en_subject = "physics"

block intro
    p.chfont 　　這份研究，主要是希望能夠以簡單即可取得的器材，解決生活上的一個小問題，即是所謂紙一旦吸水，便會膨脹，以及產生皺摺這件事，而這份研究將會以兩個方面進行討論，首先是關於紙張纖維吸水後直徑是否發生改變的角度，而另一個則是關於水對相鄰兩纖維所造成的推擠或拉扯，導致紙張纖維間距發生改變。
    p.chfont 　　而在本研究中，我一方面利用數位顯微鏡，對紙張沾水前後的纖維進行實際的拍照觀察，並利用電腦測量軟體進行分析，一方面利用較細的漆包線，模擬紙張纖維，用以觀察在其間加入液體對纖維及纖維間的間距有何影響。
    .row(class="200%")
        div(class="6u")
            span.image.main
                img(src="/images/project/P4/1.jpg", alt="")
            p(style="text-align:center")
                em.font 數位顯微鏡下的紙纖維
        div(class="6u$")
            span.image.main
                img(src="/images/project/P4/2.jpg", alt="")
            p(style="text-align:center")
                em.font 水對漆包線的推擠
    p.chfont 　　而透過以上方式，我得到了以下結果，並據此推論紙張之所以膨脹是因為纖維的膨脹所造成的。
    span.image.main
        img(src="/images/project/P4/3.jpg", alt="")
    p(style="text-align:center")
        em.font 上圖表示不同種類紙張浸於不同溶液時測得的纖維粗細
    span.image.main
        img(src="/images/project/P4/4.jpg", alt="")
    p(style="text-align:center")
        em.font 上圖表示滴加不同種類溶液時纖維的間距
