extends ../../template/group.pug
    
block declare
    - var project_name = "高分子溶液的咖啡環效應研究"
    - var author = "陳希格"
    - var project_img = "/images/project/P3.jpg"
    - var en_subject = "physics"

block intro
    p.chfont 　　本研究主要探討高分子溶液的咖啡環效應研究。當含有非揮發性溶質的膠體懸浮液之液滴在固體表面進行蒸發過程，很容易可以觀察到液滴邊緣與固體表面產生附著現象，液滴保持固定半徑進行揮發，並且在最後形成一個環狀的固體(溶質)沉積，此種現象被稱為咖啡環效應。咖啡環效應在許多實際應用(如：噴墨印刷、微流體系統等)上扮演重要角色。咖啡環的形成和其沉積樣貌與固體表面性質和溶質(如：奈米顆粒)本身物性息息相關。
    p.chfont 　　本研究以聚丙烯酸做為溶質溶解於水中，製備具有不同親疏水性的固體表面，探討高分子水溶液液滴在固體表面的蒸發過程，並觀察高分子沉積物的形貌、咖啡環效應的明顯與否，並決定其臨界釘住濃度。另外我們還改變高分子溶質的鏈長（或分子量），觀察高分子鏈長對蒸發過程的影響。
    .row(class='200%')
        div(class="4u -4u 12u(small)")
            span.image.main
                img(src="/images/project/P3/1.jpg", alt="")
            p(style="text-align:center") 
                em 俯視圖
    span.image.main
        img(src="/images/project/P3/2.jpg", alt="")
