extends ../../template/group.pug
    
block declare
    - var project_name = "Cheerios Effect 水面上微小浮體運動的影響"
    - var author = "白奇剛、仲展麟"
    - var project_img = "/images/project/P2.jpg"
    - var en_subject = "physics"

block intro
    p.chfont 本實驗討論Cheerios Effect、表面張力對浮體運動的影響。分別探討兩物體間互相吸引和物體與容器壁之間的運動。藉由改變物體的半徑和水面高度，由側面及正上方拍攝物體的運動，來分析物體距離隨時間變化和速率隨距離的變化，並利用速率分析物體運動時的受力大小，研究在過程中所受阻力的變化，和吸引表面張力與距離的關係。再進而討論圖釘相吸的水面變化、水面高度與吸引力的關係等。
    span.image.main
        img(src="/images/project/P2/1.jpg", alt="")