extends ../../template/category.pug
	
block declare
    - var style = "style1"
    - var ch_subject = "數學"
    - var en_subject = "Math"
    - var subject_img = "/images/project/math.jpg"
    - var title = "Math"
    - var group_id = "math"
    - var group_list = [{ name: "球面上的幾何研究", author:"郭立生、王國豪", intro:"　　想必大家都對幾何不陌生。想像一下，如果把圓錐曲線的定義什麼的丟到球面上的話，會產生什麼變化呢？我們所做的研究其中一部份，就是將球面上的圓錐曲線推導出來，而我們的最終目標是利用球面幾何一些特殊的幾何性質，簡潔的證明或表現平面上複雜的幾何定理。", img_href:"/images/project/M1.jpg", intro_href:"group1"},{ name: "心的起源-由三角形三特殊點求出該三角形", author:"蔡子暘、吳雨翰", intro:"　　本研究的目標是由三個特殊點找出原本的三角形，為此我們將情況分為四種:兩頂點和一特殊點、一頂點和兩特殊點、三循環特殊點以及其他各種特殊點。在研究的過程中，我們有許多斬獲，但也產生許多問題，例如同時有兩個三角形符合條件等，而研究它們的關係也成了我們的未來展望之一。", img_href:"/images/project/M2.jpg", intro_href:"group2"},{ name: "分割三角形內切圓的面積探討", author:"劉曜華、黃炳煌", intro:"　　這個研究探討三角形、三角錐在不同的分割條件下的各區塊放入最大的圓(球)，想求出各個圓(球)的面積(體積)和與原本圖形的面積(體積)的比值極值發生的位置，並利用Holder不等式、軟體運算等方法來協助求解。", img_href:"/images/project/M3.jpg", intro_href:"group3"},{ name: "格子填不填？", author:"劉仟璽、鄭澈", intro:"　　從前從前，有很多個格子。他們排成一排一排的，並決定把同排的格子當成和自己相關的格子。其中，有一些格子被賦予了顏色，於是這一個一個的格子，就都有相關的塗色格子了！那麼，我們需要多少個塗色的格子呢？", img_href:"/images/project/M4.jpg", intro_href:"group4"},{ name: "三角形內心的羈絆", author:"鄭容濤", intro:"　　當內心I跟歐拉線上點連線平行底邊會發生甚麼事？抱著這樣的想法就選了歐拉線上的外心O、重心G、垂心H、九點圓圓心N、X(20) 等，發現不少好性質。例如當IO連線平行底邊時，等價於AIH是90度而當IN平行底邊時，等價於AHI是135度多麼令人振奮！", img_href:"/images/project/M5.jpg", intro_href:"group5"}]

block quote
    | 「i的平方根就是根號i，那什麼是根號i？就是i的平方根」 ~ 李宗憙 老師