extends ../../template/category.pug
	
block declare
    - var ch_subject = "數學"
    - var en_subject = "Math"
    - var subject_img = "/images/project/math.jpg"
    - var title = "Math"
    - var id = "math"
    - var group_list = [{ name: "M01", author:"", intro:"", img_href:"/images/project/M1.jpg", intro_href:"group1"},{ name: "球面上的幾何研究", author:"王國豪、郭立生", intro:"　　想必大家都對幾何不陌生。想像一下，如果把圓錐曲線的定義什麼的丟到球面上的話，會產生什麼變化呢？我們所做的研究其中一部份，就是將球面上的圓錐曲線推導出來，而我們的最終目標是利用球面幾何一些特殊的幾何性質，簡潔的證明或表現平面上複雜的幾何定理。", img_href:"/images/project/M2.jpg", intro_href:"group2"},{ name: "M03", author:"", intro:"", img_href:"/images/project/M3.jpg", intro_href:"group3"},{ name: "M04", author:"", intro:"", img_href:"/images/project/M4.jpg", intro_href:"group4"},{ name: "M05", author:"", intro:"", img_href:"/images/project/M5.jpg", intro_href:"group5"}]

block quote
    | 「i的平方根就是根號i，那什麼是根號i？就是i的平方根」 ~ 李宗憙 老師
block intro
    | 
block something
    h2.chfont 我還沒想到可以塞什麼
block someword
    | 喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
