extends ../../template/group.pug
    
block declare
    - var project_name = "球面上的幾何研究"
    - var author = "王國豪、郭立生"
    - var project_img = "/images/project/M1.jpg"

block intro
    .row(class='200%')
        div(class="1u")
            | 　
        div(class="10u")
            p(style="text-align:center")
                | 我們用古人的眼睛從星星中看見了許多故事。
                br
                | 這麼多迷人的故事，皆源自於想像力無限的發揮。
                br
                | 所以我們仍看著古人描繪的軌跡，仍望著未知的星空，
                br
                | 想知道裏頭到底有著什麼秘密。
                br
                | 所以我們在很早就開始量天，直到最近才開始測地。
                br
                | 是因為過去的我們感性、浪漫，我們量天？
                br
                | 是因為現在的我們理性、務實，我們測地？
                br
                | 那未來我們又該如何，對著海伯利昂問著。
                br
                | 航行於科學的宇宙 找到答案前 我們不須回頭
                br
                | 但是我們要尊敬 我們所航行的那片宇宙
            p.chfont 　　天文，幾何，從古至今就一直形影不離。我們研究的星空是投影在天球面上的，所以發展了不少有關球面上的幾何研究。
                br
                | 　　想必大家都對幾何不陌生，也曾經遇到不少定理，像是孟氏定理、正餘弦定理等。想像一下，如果把圓錐曲線的定義什麼的丟到球面上的話，會產生什麼變化呢？光是想像就很令人興奮呢！
                br
                | 　　我們所做的研究其中一部份，就是將圓錐曲線呈現球面上，而我們的最終目標是利用球面幾何一些特殊的幾何性質，簡潔的證明或表現平面上複雜的幾何定理。一些成果如下：
            p.chfont 球面上的橢圓和雙曲線：
            span.image.main
                img(src="/images/project/M1/1.jpg", alt="")
            p.chfont 若有三角形ABC邊BC上有一點P，則有：
            p.chfont 斯圖爾特定理：
            p.chfont 球面上的斯圖爾特定理：
        div(class='1u$')
