extends ../../template/group.pug
    
block declare
    - var project_name = "三角形內心的羈絆"
    - var author = "鄭容濤"
    - var project_img = "/images/project/M5.jpg"

block intro
    .row(class='200%')
        div(class="1u")
            | 　
        div(class="10u")
            p.chfont
            p.chfont
            p.chfont
            span.image.main
                img(src="/images/project/M5/1.jpg", alt="")
            span.image.main
                img(src="/images/project/M5/2.jpg", alt="")
            span.image.main
                img(src="/images/project/M5/3.jpg", alt="")
        div(class='1u$')
