extends ../../template/group.pug
    
block declare
    - var project_name = "分割三角形內切圓的面積探討"
    - var author = "劉曜華、黃炳煌"
    - var project_img = "/images/project/M3.jpg"
    - var en_subject = "math"
    
block intro
    p.chfont 　　本研究顧名思義探討將三角形分割後放入與邊相切的圓的面積，在探討面積下，我們要尋找什麼時候這些圓的面積和與原三角形的面積比值發生極值，主要有兩種三角形分割方式：分割線為平行一邊的線段(圖一)、分割線為一頂點連對邊分點的線段(圖二)
    span.image.main
        img(src="/images/project/M3/1.jpg", alt="")
    span.image.main
        img(src="/images/project/M3/2.jpg", alt="")
    p(style="text-align:center")
        em.font 圖二、分割線為一頂點連對邊分點的線段
    p.chfont 　　利用Hölder不等式以及數學運算軟體，可以找到這些極值發生的位置，前者與半周長、底邊長的比值相關，後者則用角度分類作為極值發生的探討方式。
    p.chfont 　　三角形的情況也可延伸至三角錐，此時探討分割面為平行底面的平面，在裡面放入最大的球，並求其體積和與原三角錐體積的比值極值(圖三)
    span.image.main
        img(src="/images/project/M3/3.jpg", alt="")
    p(style="text-align:center")
        em.font 圖三
    p.chfont 　　此情形也可透過Hölder不等式求得極值，可發現與表面積、底面面積的比值相關。