extends ../../template/group.pug
    
block declare
    - var project_name = "三角形內心的羈絆"
    - var author = "鄭容濤"
    - var project_img = "/images/project/M5.jpg"

block intro
    .row(class='200%')
        div(class="1u")
            | 　
        div(class="10u")
            p.chfont
                | 　　三角形的形心有非常多且深的研究(推薦上網搜尋Kimberling center)，如果在一般三角形做事情則難出其窠臼，所以就結合性質超多的內心跟歐拉線上的點進行純幾大計畫。研究聚焦在當內心跟歐拉線上的形心(像垂心、外心等等)連線平行三角形其中一邊的延伸結論。
                br
                br
                | 　　在某些前提下（如#[em IL] ||#[em BC]，#[em L"] 是 #[em x](20)）或許一開始覺得束手無策，但又往往在其中發現美妙的性質，讓我們一起在這個美麗的世界裡探索吧。
                br
                br
                | 　　以下分別放上 #[em IO] 平行#[em BC] 、 #[em IG] 平行#[em BC] 、 #[em IL] 平行#[em BC] 的研究圖，讓大家來欣賞。

            .row(class="200%")
                div(class="2u")
                    p  
                div(class="8u")
                    span.image.main
                        img(src="/images/project/M5/1.jpg", alt="")
                    p(style="text-align: center")
                        em #[em IO] 平行 #[em BC] 研究圖
                    span.image.main
                        img(src="/images/project/M5/2.jpg", alt="")
                    p(style="text-align: center")
                        em #[em IG] 平行 #[em BC] 研究圖
                    span.image.main
                        img(src="/images/project/M5/3.jpg", alt="")
                    p(style="text-align: center")
                        em #[em IL] 平行 #[em BC] 研究圖
                div(class="2u$")
                    p  
                    
        div(class='1u$')
